body{
    font-family: 'Montserrat', sans-serif;
    background-color: #ebeff1;
    font-size: 16px;
}

a{
    color: rgb(40, 40, 40) !important;
    text-decoration: none;
}
a:hover{
    text-decoration: line-through;
}

// Side Bar Left
.sidebar-left{
    .top, .middle, .bottom{
        margin-right: 20px;
        position: fixed;
        left: 0;
        width: 50px;
        text-align: center;
    }
    .top{
        top: 0;
        transform: rotate(270deg) translate(-74px, 30px);
    }
    .middle{
        top: 40%;
        transform: rotate(270deg) translate(-74px, 30px);
        p{
            color: rgb(40, 40, 40) !important;
            cursor: pointer;
        }
        p:hover{
            text-decoration: line-through;
        }
    }
    .bottom{
        bottom: 0;
        transform: rotate(270deg) translate(135%, 30px);
    }
}


// Header Section

    
    
    // Side bar
    .title-container{
        position: absolute;
        max-width: 1280px;
        top:20%;
        left: 20%;
        padding-right: 40px;
    }
    h1{
        font-size:74px;
        text-transform:uppercase;
        font-weight: 700;
    }
    p{
        line-height: 1.168;
        max-width: 650px;
    }

.nav{
        color: #000000;
        background-color: #9baad1;
        cursor: pointer;
        font-size: 32px;
        height: 100vh;
        right: -480px;
        padding: 32px;
        position: fixed;
        top: 0;
        width: 320px;
        z-index: 1;
        transition: right 0.5s ease;
        ul{
            text-transform: uppercase;
            position: absolute;
            list-style: none;
            padding-left: 50px;
            display: grid;
            transform: translateY(50%);
            li{
                margin-bottom: 20px;
                font-weight: 400;//you can use 700
            }
        }
    }
    .nav.expanded {
        right: 0;
      }
      
      .nav-toggle {
        cursor: pointer;
        height: 32px;
        right: 32px;
        position: fixed;
        top: 32px;
        width: 57.6px;
        z-index: 2;
      }
      
      .nav-toggle .nav-toggle-bar,
      .nav-toggle .nav-toggle-bar::after,
      .nav-toggle .nav-toggle-bar::before {
        position: absolute;
        top: 50%;
        transition: all 0.5s ease;
        transform: translateY(-50%);
        background-color: #000000;
        content: '';
        height: 6.4px;
        width: 100%;
      }
      
      .nav-toggle .nav-toggle-bar {
        margin-top: 0;
      }
      
      .nav-toggle .nav-toggle-bar::after {
        margin-top: 12.8px;
      }
      
      .nav-toggle .nav-toggle-bar::before {
        margin-top: -12.8px;
      }
      
      .nav-toggle.expanded .nav-toggle-bar::after,
      .nav-toggle.expanded .nav-toggle-bar::before {
        background-color: #ffffff;
        margin-top: 0;
      }
      
      .nav-toggle.expanded .nav-toggle-bar::after {
        transform: rotate(45deg);
      }
      
      .nav-toggle.expanded .nav-toggle-bar::before {
        transform: rotate(-45deg);
      }
      
      .nav-toggle.expanded .nav-toggle-bar {
        background: transparent;
      }
      
      /* bottom nav */
      
      #bottom-nav {
        position: fixed;
        bottom: 60px;
        right: 60px;
      }
      
      #bottom-nav ul,
      li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
      }
      
      #bottom-nav li {
        margin-right: 10px;
      }
      
      .number-menu img {
        display: none;
      }
      
      .image-mode img {
        display: inline-flex !important;
        width: 500px;
        position: absolute;
        z-index: -1;
        bottom: 100px;
        right: 200px;
      }   
      
      
      //Switch
      
      .light-color{
        color: #333;
        background: rgb(219, 219,219);
    }
    
    
    .light-theme{
        background: rgb(13, 17, 20);
        color: #6EFAF1;
        .sun{
          color: #fff;
        }
        .moon svg{
          fill: #fff;
          stroke: #fff;
        }
        .sun svg{
          fill: #fff;
          stroke: #fff;
        }
        .middle{
          background:rgb(13, 17, 20) !important;
          color: #6EFAF1 !important;
        }
        .middle p{
          color: #6EFAF1 !important;
        }
        a{
            color: #6EFAF1 !important;
        }
        .nav{
            
            background-color: rgb(23, 32, 39);
            }
        .nav-toggle{
            color: #6EFAF1 !important;
        }
        .nav-toggle .nav-toggle-bar,
      .nav-toggle .nav-toggle-bar::after,
      .nav-toggle .nav-toggle-bar::before {
        background-color: #6EFAF1;
      }
    }
    
    .light-theme .theme-switch{
        background: #6EFAF1;
        color: #6EFAF1 !important;
        
    }
    
    @media(max-width:650px){
        #bottom-nav{
            display: none;
        }
        .nav{
          display: none;
        }
        .middle {
          display: none;
        }
        .nav-toggle{
          display: none;
        }
        .title-container h1{
          margin-left: 20px;
          line-height: 1;
          font-size:55px;
        }
        
    }
    @media(min-width:1200px){
      .mr-2, .mr-3,  .sun, .moon{
          display: none;
      }
      .middle{
        background:  #ebeff1 !important;
      }
    
      .dark-toggle{
        display: none;
      }
    }
.up-header{
  .title-container{
    position: absolute;
    max-width: 1280px;
    top:10%;
    left: 10%;
    padding-right: 40px;
}
}

#side-nav {
  position: fixed;
  bottom: 90px;
  right: 20px;
  ul, li {
  margin: 10px;
  font-size: 1.2rem;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  li {
    margin-right: 5px;
  }
}
}
.mr-2{
  position: fixed;
  bottom: 0px;
  right: 20px;
  transform: rotate(90deg) translate(-90%, -40px);
}
.mr-3{
  position: fixed;
  bottom: 0px;
  right: 90px;
  transform: rotate(90deg) translate(-40%, -40px);
}


.theme-switch .switch{
  background: #333;
  width: 20px;
  height:20px;
  border-radius:50%;
  position: absolute;
  top: 2px;
  right: 4px;
  transition:0.5s all ease;
  
}

.light-theme .theme-switch .switch{
 transform: translateX(-34px)
 
  
}
.theme-switch  {
  color:rgb(24, 31, 36);
  width: 60px;
  height: 24px;
  background:  #fff;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  right: 50px;
}

.sun{
  position: absolute;
  top: 10px;
  right: 20px;
}
.moon{
  position: absolute;
  top: 10px;
  right: 120px;
}